$blancoWeb: #fff;
$negroWeb: black;
$grisnegroweb: #1B1B1B;


$sombraLight: 0px 0px 10px rgba(170, 170, 170,.16);
$sombraDark: 0px 0px 10px rgba(216, 212, 212, 0.16);

$sombraImgLight: 0px 4px 10px 5px rgba(94, 93, 93, 0.16);
$sombraImgDark: 0px 4px 10px 5px rgba(194, 194, 194, 0.16);
 


html{

    scroll-behavior:smooth;

}

body{
    background: #fff;
    transition: .3s ease all;
    
    &.dark{

        background: $grisnegroweb;


    }

}




.navbar{

    a{
        color: black;
        &:hover{

            color:deepskyblue;


        }

    }
    background: #fff;
    transition: .3s ease all;
    box-shadow: $sombraLight;
    

    .nav-link{

        a{
            color: black;

        }

    }

    
    .fa-bars{

        &:hover{

            color: deepskyblue;

        }

    }
    
    

    

    /*Modo night*/
    body.dark &{


        background: $grisnegroweb;
        box-shadow: $sombraDark;
       
        a{
        color: #fff;
        &:hover{

            color:deepskyblue;


        }

        
       
     }

    

        .nav-link{

           a{
             color: #fff;

           }

            &:hover{

                color: deepskyblue;

            }
            
    
        }

        .fa-bars{

            color: #fff;
            &:hover{

                color: deepskyblue;

            }



        }
        

        
 

    }


}


.switch{

    background: #343d58;
    border-radius: 1000px;
    border: none;
    position: relative;
    cursor: pointer;
    display: flex;
    outline: none;

    &::after{
        content: "";
        display: block;
        width: 25px;
        height: 25px;
        position: absolute;
        background: #fff;
        top: 0;
        left: 0;
        right: unset;
        border-radius: 100px;
        transition: .3s ease all;
        box-shadow: 0px 0px 2px 2px rgba(0,0,0,.2);


    }

    &.active{
        background:orange;
        color: black;
        &::after{
            right: 0;
            left: unset;

        }

    }

    span{
        
        width: 20px;
        height: 25px;
        display: block;
        background: none;
        color: #fff;
        margin-top: -3px;


    }


}



label{

    body.dark &{

        color: $blancoWeb;


    }


}


/*seccion fin mode dark*/


.content-welc{

    width: 100%;
    height:450px;
    /*background-color: lawngreen;*/
    margin-bottom: 50px;
    margin-top: 50px;
    overflow: hidden;

}

.welc-title{

    height: 250px;
    width: 650px;
    margin-top: 20px;
    //margin-left: 80px;
    /*background-color: lightpink;*/



}

.text-welc{

    margin-top: 30px;


}

.blue{


    color: blue;

}

.conoc{

    margin-left: 15px;


}


.works{

    margin-top: 150px;



}
/*icono del about main*/

.About-btn{

    display: inline-block;
    transform: translateX(30px);
    opacity: 0;
    animation: 1s ease 0.2s 1 normal forwards running textAni;


}
.about-icon{

    
    margin-right: 5px;
    margin-bottom: 6px;
  


}

.icons-rrss{

    display: inline-block;
    transform: translateX(30px);
    opacity: 0;
    animation: 1s ease 0.2s 1 normal forwards running textAni;



}

.btn {


    
    margin-top: 50px;

}

.about{

    margin-top: 150px;

}


p{

    font-family: 'Quicksand', sans-serif;

    font-size:18px;

    body.dark & {

        color: $blancoWeb;

    }




}



h1{

    


    body.dark & {

        color: $blancoWeb;

    }


}

.icon{

    body.dark & {

        color: $blancoWeb;

    }


}

.pasta{

    box-shadow: $sombraImgLight;

    body.dark &{

        box-shadow: $sombraImgDark;


    }

}

.text-welc span{

    display: inline-block;
    transform: translateX(-30px);
    opacity: 0;
    animation: 1s ease 0.2s 1 normal forwards running textAni;


}



@keyframes textAni{

    from{

        transform: translateX(-30px);
        opacity: 0;



    }

    to{

        transform: translateX(0);
        opacity: 1;





    }

}





