html {
  scroll-behavior: smooth; }

body {
  background: #fff;
  transition: .3s ease all; }
  body.dark {
    background: #1B1B1B; }

.navbar {
  background: #fff;
  transition: .3s ease all;
  box-shadow: 0px 0px 10px rgba(170, 170, 170, 0.16);
  /*Modo night*/ }
  .navbar a {
    color: black; }
    .navbar a:hover {
      color: deepskyblue; }
  .navbar .nav-link a {
    color: black; }
  .navbar .bi-list:hover {
    color: deepskyblue; }
  body.dark .navbar {
    background: #1B1B1B;
    box-shadow: 0px 0px 10px rgba(216, 212, 212, 0.16); }
    body.dark .navbar a {
      color: #fff; }
      body.dark .navbar a:hover {
        color: deepskyblue; }
    body.dark .navbar .nav-link a {
      color: #fff; }
    body.dark .navbar .nav-link:hover {
      color: deepskyblue; }
    body.dark .navbar .bi-list {
      color: #fff; }
      body.dark .navbar .bi-list:hover {
        color: deepskyblue; }

.switch {
  background: #343d58;
  border-radius: 1000px;
  border: none;
  position: relative;
  cursor: pointer;
  display: flex;
  outline: none; }
  .switch::after {
    content: "";
    display: block;
    width: 25px;
    height: 25px;
    position: absolute;
    background: #fff;
    top: 0;
    left: 0;
    right: unset;
    border-radius: 100px;
    transition: .3s ease all;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2); }
  .switch.active {
    background: orange;
    color: black; }
    .switch.active::after {
      right: 0;
      left: unset; }
  .switch span {
    width: 20px;
    height: 25px;
    display: block;
    background: none;
    color: #fff;
    margin-top: -3px; }

body.dark label {
  color: #fff; }

/*seccion fin mode dark*/
.content-welc {
  width: 100%;
  height: 450px;
  /*background-color: lawngreen;*/
  margin-bottom: 50px;
  margin-top: 50px;
  overflow: hidden; }

.welc-title {
  height: 250px;
  width: 650px;
  margin-top: 90px;
  margin-left: 80px;
  /*background-color: lightpink;*/ }

.text-welc {
  margin-top: 50px; }

.conoc {
  margin-left: 15px; }

.works {
  margin-left: 10px;
  margin-top: 50px; }

/*icono del about main*/
.about-icon {
  margin-right: 5px;
  margin-bottom: 6px; }

.btn {
  margin-top: 50px; }

.about {
  margin-top: 200px; }

body.dark p {
  color: #fff; }

body.dark h1 {
  color: #fff; }

body.dark .icon {
  color: #fff; }
